@model LoginViewModel

<div class="container border  rounded p-4">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="text-secondary">Login</h5>
    </div>
</div>

<div class="mt-4">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RedirectUrl" />
        <div class="d-flex flex-column ">
            <div>
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="form-control" type="text" >
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" type="text">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-primary ">Login</button>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
